body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

h1 {
    text-align: center;
    color: #fff;
}

div {
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: #5f5f5f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f44336;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #992e26;
}

.form-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

#selectedItemsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #992e26;
}

#itemSelect {
    height: auto;
    width: auto; /* Auto width based on content */
    min-width: 200px; /* Minimum width */
    max-width: 100%; /* Maximum width to prevent overflow */
    padding: 5px; /* Adds space inside the box around the text */
    font-size: 1em; /* Makes the text larger and easier to read */
    z-index: 1000;
    align-items: center;
    background-color: #bd544c;
    color: #fff;
}

#itemSelect option {
    color: #fff;
}

/* Agregar cualquier otro estilo que necesites aquí */
